/* CSS Document */
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800";
/* @import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"; */


*, html { margin:0 auto; }

body { background:#fff !important; font-family: 'Open Sans', Verdana, Geneva, sans-serif !important; }


/* video responsivo */
.video-responsive {
    overflow:hidden;
    padding-bottom:45.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.centralizador { max-width:820px; overflow:hidden; }

h2 { font-size:29px !important; font-weight:700 !important; color:#1d1868 !important; text-transform:uppercase !important; }
h3 { font-size:24px !important; font-weight:700 !important; color:#1d1868 !important; text-transform:uppercase !important; }




/* topo */
header { overflow:hidden; }
.topo { height:276px; margin-top:55px; }

.menu { position:fixed; z-index:1000; width:100%; background:#fff; 
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.botao_menu { margin-top:11px; }
.dropdown-toggle:hover{
    color: #fff;
}
.botao_menu .texto { font-size:16px; margin-top:2px; margin-right:5px; font-weight: bold }
.botao_menu .glyphicon-menu-hamburger { font-size:25px;  }
.botao_menu a { color:#fff; }
.botao_menu a .glyphicon-menu-hamburger { color:#fff; }
.video_inicio {     height: 768px; margin-top:-20px; background:url(imagens/video_fundo.jpg) top center no-repeat;  }
.modal-content { background:#000 !important; }
.modal-footer { border-top:none !important; }
.video_texto { padding-top:184px; }

/* correção do bug do modal afastando o menu (fixed) pra direita */
.modal-open {
    padding-right:0 !important;
	overflow:visible !important;
}
.logo{    }
.menuHover{
    cursor: pointer;
}
footer h2{
    background: url(imagens/ico_contato.png) top left no-repeat;
   padding-left: 62px;
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 30px !important;
    color: #fff !important;
    margin-top: 7px;
}
footer input { border:1px solid #e3e3e3; }
footer textarea{
    padding: 10px;
    margin: -7px 0 0 0px;
    width: 352px;
    height: 125px;
    float: left;
    background-color: #5e5e5e;
    color: #b0b0b0 !important;
	border:1px solid #e3e3e3;
}
/* placeholder contato */
footer textarea::-webkit-input-placeholder , footer input::-webkit-input-placeholder {
   color: #b0b0b0;
}

footer textarea::-webkit-input-placeholder , footer input::-webkit-input-placeholder:-moz-placeholder {
   color: #b0b0b0;
}

footer textarea::-webkit-input-placeholder , footer input::-webkit-input-placeholder::-moz-placeholder {
   color: #b0b0b0;  
}

footer textarea::-webkit-input-placeholder , footer input::-webkit-input-placeholder:-ms-input-placeholder {  
   color: #b0b0b0;  
}
/* placeholder contato */

footer #contato { font-weight:600 !important; font-size: 13px !important; }

footer #nome{
     padding: 10px;
    background-color: #5E5E5E;
    height: 30px;
    width: 279px;
    margin: -14px 0 11px 17px;
}
footer #email{
        padding: 10px;
    background-color: #5E5E5E;
    height: 30px;
    width: 279px;
    margin: 0px 0px 11px 17px; 
}
footer a{
    /* width: 209px; 
    height: 44px; */
    background-color: #000000;
    color: #b0b0b0!important;
    font-size: 15px;
    font-weight: bold;
    /* float: right; */
    padding: 5px 12px 5px 12px;
    margin: 0px 0 0 213px;
}



.botao_menu .dropdown-menu {
	max-width:100%;
	width:650px;
	min-width:42%;
	position:fixed;
	top:0;
	margin:0;
	background:#363636;
	border:none;
	border-radius:0 !important;
	color:#ffd105;
	padding:45px 60px;
	text-transform:uppercase;
	font-size:20px;
	font-weight:700;
}
.botao_menu .dropdown-menu a { color:#ffd105; padding: 3px 0px; white-space: normal; }
.botao_menu .dropdown-menu a:hover { color:#fff; background:none; font-weight:700; }
.botao_menu .dropdown-menu li { max-width:410px; margin-left: 0 !important; }
.botao_menu .dropdown-menu li.active a { color:#fff; background:none; font-weight:700; }
.botao_menu .dropdown-menu li.divider { margin:17px auto; background-color:#ffd105; }
.botao_menu .dropdown-menu .fechar { position:absolute; top:10px; left:10px; z-index:1001; color:#fff; }
.botao_menu .dropdown-menu .glyphicon-remove { font-size:24px; }

.botao_menu .dropdown-menu .menu_busca { border:1px solid #ffd105; border-radius:10px; padding:4px 8px; overflow:hidden; }
.botao_menu .dropdown-menu .menu_busca input { background:none; border:none; font-size:21px; font-weight:300; text-transform:uppercase; }
.botao_menu .dropdown-menu .menu_busca .busca { width:80%; color:#ffd105; }
::-webkit-input-placeholder {
   color: #ffd105;
}

:-moz-placeholder {
   color: #ffd105;
}

::-moz-placeholder {
   color: #ffd105;  
}

:-ms-input-placeholder {  
   color: #ffd105;  
}
.botao_menu .dropdown-menu .menu_busca .enviar { background:none; border:none;  }
.botao_menu .dropdown-menu .menu_busca .glyphicon-search { font-size:24px; }




/* o brt */
#o_brt { background: rgba(2, 2, 2, 0.62); overflow:hidden; padding:10px 0 20px;  margin-top: -156px;
    filter: alpha(opacity=60); /* For IE8 and earlier */} 

#o_brt h3{ color: #fff !important; font-size: 16px  !important; font-weight: normal !important; text-align: center  !important;  }
#o_brt p { font-size:12px; color:#fff; text-align:justify; }
#o_brt img {max-width: 71% !important; opacity: 1 !important 
}



/* noticias - home */
#noticias { background:#fff; padding:50px 0 70px; }
#noticias a { color:#1d1868; }
#noticias .item { margin:15px auto; }
#noticias .item img { height:239px !important;  }
#noticias .noticia { max-width:460px; margin:15px auto; background:#fcedaa; }
#noticias .noticia p { padding:10px; color:#000 !important; }

#noticias .categorias { display:inline-block;     margin-top: 5px; }
#noticias .categorias .categoria { float:left; margin-right:14px; font-weight:700; text-transform:uppercase; font-size:16px; letter-spacing:-1px;     margin-top: 10px; }

#corpoNoticias { margin-top: 35px; }





/*** páginas ***/


/* notícias - página */
.noticias { background:url(imagens/noticias_topo.jpg) top center no-repeat; }
#noticias h2 { background:url(imagens/iconNews.png) top left no-repeat; padding-left:70px; padding-top:10px; padding-bottom:20px; font-size:30px !important; padding-right:20px; display:inline-block; margin-top:-2px;	 }
.tecnologia {background:url(imagens/tecnologia_topo.jpg) top center no-repeat; }
/* linha do tempo - página */
.timeline { background:url(imagens/linhadotempo_topo.jpg) top center no-repeat; }
/* multimídia - página */
.multimidia { background:url(imagens/multimidia_topo.jpg) top center no-repeat; }
.cenarioatual { background:url(imagens/cenarioatual_topo.jpg) top center no-repeat; }
.cenariobelem400 { background:url(imagens/cenariobelem400l_topo.jpg) top center no-repeat; }
.aspectosoperacionais { background:url(imagens/aspectosoperacionais_topo.jpg) top center no-repeat; }
.midia { margin:15px auto 20px;; }
.midia img { width:100%; }
a .midia p { font-size:18px; letter-spacing:-1px; font-weight:700; color:#1d1868 !important; text-align:left; margin:0px auto }
a:hover { text-decoration:none !important; }



/*** páginas - fim ***/





/* linha do tempo - timeline */
#timeline { background:#ffd105; overflow:hidden; padding:20px 0 100px; } 
#timeline h2 { background:url(imagens/ico_timeline.png) top left no-repeat; padding-left:67px; padding-top:17px; padding-bottom:20px; font-size:30px !important; }
#timeline .item { height:236px; }
#timeline .item img {  position:absolute; }
#timeline .item p { color:#1d1868; font-size:15px; min-height: 63px;}
#timeline .item span {top: 111%;    position: absolute;margin:0 0 0 33%;    font-weight: bold;}
#timeline .leiamais { position:absolute; top:40%; }
.leiamais { margin:15px auto; }
.leiamais a { border:2px solid #1d1868; color:#1d1868; padding:2px 25px 2px 10px; text-transform:uppercase; font-size:14px; }
.leiamais a:hover { text-decoration:none; background:#1d1868; color:#fff; }

#timeline .linha { height:5px; background:#1d1868; }
#timeline .marcador { border-radius: 50%; position:absolute; top:92.3%; left:44%; width:40px; height:40px; background:#1d1868; border:3px solid #fff; }


.conteudo { background:#ffd105; overflow:hidden; padding:20px 0 30px; }
.conteudo h2 { display:inline-block; margin-right:50px; }
.conteudo p { font-size:14px; color:#1d1868; text-align:justify; margin:20px auto; }
.conteudo .row h2 { text-transform:none !important; padding-right:10%; letter-spacing:-1px; margin:40px auto 15px; /* font-family: 'Open Sans Condensed', sans-serif; */ }
.conteudo .row img { margin:10px auto; }
.conteudo .row a:hover { text-decoration:none !important; }
.conteudo.noticia {     margin-top: 50px; }

.categorias { display:inline-block;  }
.categorias .categoria { float:left; margin-right:14px; font-weight:700; text-transform:uppercase; font-size:16px; letter-spacing:-1px;     margin-top: 10px; }
.categoria.active a { border:2px solid #1d1868; color:#1d1868; color: #fff !important; background-color: #1d1868;  }
.categoria a { color:#656363; padding:1px 10px 1px 7px; border:2px solid #ffd105; }
.categoria a:hover { text-decoration:none; background:#1d1868; color:#fff !important; border:2px solid #1d1868;  }





/* rodape */
footer { background:url(imagens/rodape_fundo.jpg) top center no-repeat; min-height:207px; padding:20px 0 30px !important; background-size:100% 100%; }
footer .redes { text-align:center; }

/* rotativo */
.carousel-caption { width:100% !important; right:0px !important; left:0px !important; margin:0; background-color:rgba(0, 0, 0, 0.5); }


/* compartilhamento */
.compartilhamento {
  text-align: center;
}

.compartilhamento a {   margin: auto 5px; }

#ytplayer_div2 {
    width: 18%;
    float: left;
    margin-left: 10px;
}
.video-responsive object{
        float: left;
    width: 80%;
    height: 393px;
}
#enviar{
    border: 1px solid #b2b2b2;
    cursor: pointer;
        margin: 0 0 0 129px;
  padding: 7px 55px;
  display: inline-block; 
    /* width: 84px; */
}
#timelineNoticias input {
    border: 1px solid;
    border-color: rgb(169, 169, 169);
}


#paginador  { 
	display:inline-block;  
	
}
#paginador ul li span, #paginador ul li a {
  border:2px solid #1d1868; color:#1d1868;  
  color:#656363; padding:1px 10px 1px 7px; border:2px solid #ffd105;
  width: 70px;
  font-size: 24px;


}
#paginador ul li span, #paginador ul li a:hover { text-decoration:none; background:#1d1868; color:#fff !important; border:2px solid #1d1868;  }
 .paginadorTimeLine ul li span,  .paginadorTimeLine ul li a{
    background: #2E3192 !important;
    color: #FFF;
    border: none;
   box-shadow: none;
    cursor: default;
        width: 70px;
    height: 30px;
  text-decoration: none;
      padding: 4px 0 0 0;
    font-size: 24px;
    cursor: pointer;
    
 }
 .paginadorTimeLine ul li span.current{
    background: #666 !important;
    color: #FFF;
    border: none !important;
    box-shadow: none;
    cursor: default;
        width: 70px;
    height: 30px;
       padding: 4px 0 0 0;
    text-decoration: none;
    font-size: 24px;
   
 }
 .posContainer{
         width: 100%;
    background-color: #153F7B;
    /* float: right; */
    position: absolute;
    top: 0;
    z-index: 100000;
    left: 1257px;
    height: 68px;
 }
